<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/boxicons.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flaticon.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dark.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}" />

<!-- <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/favicon-removebg-preview.png') }}" alt = "logo" /> -->

<title>Mind Care AI</title>
</head>
<body>

<div class="loader-content">
<div class="d-table">
<div class="d-table-cell">
<div class="sk-folding-cube">
<div class="sk-cube1 sk-cube"></div>
<div class="sk-cube2 sk-cube"></div>
<div class="sk-cube4 sk-cube"></div>
<div class="sk-cube3 sk-cube"></div>
</div>
</div>
</div>
</div>


<header class="header-area">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-2 col-sm-12">
<div class="logo">
<a href="/">
    <div  style="display: flex;justify-content: center;align-items: center; ">
    <img src="{{ url_for('static', filename='assets/images/hack imgs/logo_last2.png') }}" alt="logo"  style="max-width: 60%; height: 50%;border-radius: 50%;"/>
    <h2 style="margin-top:7px;">MindCare AI</h2>
</div>
</a>
</div>
</div>
</div>
</div>
</header>


<div class="header-area">
<div class="mobile-nav">
<a href="/" class="logo">
<img src="{{ url_for('static', filename='assets/images/new_logo.png') }}" alt="logo" />
</a>
</div>


<div class="main-nav">
<div class="container">
<nav class="navbar navbar-expand-md navbar-light">
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav text-left">


<li class="nav-item">
<a href="/" class="nav-link active">HOME</a>
</li>

<li class="nav-item">
<a href="/about" class="nav-link">ABOUT</a>
</li>

<li class="nav-item">
<a href="/prognosis" class="nav-link">PROGNOSIS</a>
</li>

<li class="nav-item">
    <a href="/chatbot" class="nav-link">CHATBOT</a>
</li>


<li class="nav-item">
    <a href="/relaxation" class="nav-link">Relaxation Tools</a>
</li>

<li class="nav-item">
    <a href="/supporthub" class="nav-link">Support Hub</a>
</li>

<li class="nav-item">
<a href="/blog" class="nav-link">BLOG</a>
</li>

</ul>
</div>
<div class="nav-right">

</div>
<div class="nav-btn">
<a href="/prognosis" class="box-btn">Get Started</a>
</div>
</nav>
</div>
</div>
</div>


<section class="banner-area">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="banner-content">
<h1>BrightMind AI Solutions</h1>
<p>
Discover personalized strategies, AI-powered support, and expert-backed resources to strengthen your mental wellness. We're here to guide you through your emotional journey, providing comprehensive solutions that help you overcome challenges like stress, anxiety, and depression. Take the first step toward a resilient mind and a brighter future – join Student AI Care today!
</p>
</div>
</div>
<div class="col-lg-6">
<div class="banner-img">
    <div class="whiteimagehigh">
        <img src="{{ url_for('static', filename='assets/images/home.jpg') }}" alt="banner-img" />
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>



<section class="home-company-area bg-color">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-12">
<div class="company-content">
<div class="company-tittle">
<span>Our Website</span>
<h2>Empowering Minds, One Step at a Time</h2>
<p>Nurturing Minds Globally, Step by Step: Our Website's Compassionate Mission.
    We dedicate ourselves to fostering global mental wellness, guiding individuals toward healthier lives with care and support. Through informative resources, tailored advice, and a commitment to each individual's well-being, we aim to improve mental health worldwide, one person at a time.</p>
<p>Embrace the journey with us – where every step resonates across communities!</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12">
<div class="company-img">
    <div class = "aquaimagehigh">
        <img src="{{ url_for('static', filename='assets/images/hack imgs/human ai.jpg') }}" alt="company" />
    </div>
</div>
</div>
</div>
</div>
</section>



<section class="choose-area ptb-100">
<div class="container">
<div class="section-title">
<span>Choose CardioHealth Provisions</span>
<h2>Our Dedication to Exceptional Service Builds Trust, Reflecting Our Website's Commitment to Mental Wellness Excellence</h2>
</div>
<div class="row align-items-center">
<div class="col-lg-6">
<div class="choose-img">
    <div class="whiteimagehigh">
        <img src="{{ url_for('static', filename='assets/images/hack imgs/ai photo.jpg') }}" alt="choose" />
    </div>
</div>
</div>
<div class="col-lg-6">
<div class="choose-content">
<div class="faq-accordion">
<ul class="accordion">
<li class="accordion-item">
<div class="icon">
<i class="flaticon-friends"></i>
</div>
<a class="accordion-title active" href="javascript:void(0)">
<i class="bx bx-plus"></i> Great Understanding
</a>
<p class="accordion-content show">
    Tailored services based on user needs and comprehensive educational resources for Mental Health Awareness.
</p>
</li>
<li class="accordion-item">
<div class="icon">
<i class="flaticon-chip"></i>
</div>
<a class="accordion-title" href="javascript:void(0)">
<i class="bx bx-plus"></i>Update Technology
</a>
<p class="accordion-content">
Cutting-edge algorithms, responsive design, and robust security measures ensure a seamless and secure user experience.
</p>
</li>
<li class="accordion-item">
<div class="icon">
<i class="flaticon-like"></i>
</div>
<a class="accordion-title" href="javascript:void(0)">
<i class="bx bx-plus"></i>Dedicated Research and Collaboration
</a>
<p class="accordion-content">
Dedicated to evidence-based content, collaborations with experts ensure credibility, innovation, and user-centered solutions for mental health
</p>
</li>
<li class="accordion-item">
<div class="icon">
<i class="flaticon-award"></i>
</div>
<a class="accordion-title" href="javascript:void(0)">
<i class="bx bx-plus"></i>Best Quality Service
</a>
<p class="accordion-content">
Expert collaboration, continuous improvement, and dedicated customer support prioritize excellence for a superior user journey toward wellness and productive Minds.
</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="home-process-area pt-100 pb-70">
<div class="container">
<div class="section-title">
<span>Working Process</span>
<h2>We are popular because of our way of working</h2>
</div>
<div class="row">
<div class="col-lg-3 col-sm-6">
<div class="single-process">
<div class="icon">
<img src="{{ url_for('static', filename='assets/images/research-removebg-preview.png') }}" alt="process" />
<span>
<img src="{{ url_for('static', filename='assets/images/process/next.png') }}" alt="shape" />
</span>
</div>
<div class="content">
<h3>Research & Understanding:</h3>
<p>
In-depth research, user profiling for tailored recommendations, understanding individual needs in mental health.
</p>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="single-process">
<div class="icon">
<img src="{{ url_for('static', filename='assets/images/Collaboration-removebg-preview.png') }}" alt="process" />
<span class="pro-span">
<img src="{{ url_for('static', filename='assets/images/process/next.png') }}" alt="shape" />
</span>
</div>
<div class="content">
<h3>Collaboration & Expertise</h3>
<p>
Expert partnerships, interdisciplinary collaboration for credible advice, leveraging diverse expertise in mental health.
</p>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="single-process">
<div class="icon">
<img src="{{ url_for('static', filename='assets/images/innovative-removebg-preview.png') }}" alt="process" />
<span>
<img src="{{ url_for('static', filename='assets/images/process/next.png') }}" alt="shape" />
</span>
</div>
<div class="content">
<h3>Innovation & Adaptability</h3>
<p>
Innovative solutions, adaptability to emerging trends, integrating technology for refined mental health recommendations on different mental Exercises.
</p>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="single-process">
<div class="icon">
<img src="{{ url_for('static', filename='assets/images/user-removebg-preview.png') }}" alt="process" />
</div>
<div class="content">
<h3>user Delivery</h3>
<p>
Recommendations, good communication, tailored advice fostering trust, guiding individuals in happy and health journeys.
</p>
</div>
</div>
</div>
</div>
</div>
</section>



<section class="feature-area bg-color ptb-100">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="contnet">
<div class="feature-tittle">
<span>Features</span>
<h2>We Have Also Some Features That Provided by Mind Care</h2>
</div>
<ul>
<li>
<i class="flaticon-correct"></i>
Health Assessment
</li>
<li>
<i class="flaticon-correct"></i>
Relaxation Tools
</li>
<li>
<i class="flaticon-correct"></i>
Support Hub
</li>
<li>
<i class="flaticon-correct"></i>
Regular Updates and News
</li>
</ul>
</div>
</div>
<div class="col-lg-6">
<div class="feature-img">
    <div class="whiteimagehigh">
        <img src="{{ url_for('static', filename='assets/images/hack imgs/ai talk2.png') }}" alt="feature" />
    </div>
</div>
</div>
</div>
</div>
</section>


<style>

        .aquaimagehigh{
            filter: drop-shadow(10px 7px 10px Aqua);
        }

        .whiteimagehigh{
            filter: drop-shadow(10px 7px 10px );
        }

</style>



<div class="go-top">
<i class="bx bx-chevrons-up"></i>
<i class="bx bx-chevrons-up"></i>
</div>


<script data-cfasync="false" src="{{ url_for('static', filename='../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js') }}"></script><script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/meanmenu.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/magnific-popup.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/isotope.pkgd.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/ajaxchimp.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/form-validator.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/contact-form-script.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>

</html>
